@import url('https://fonts.googleapis.com/css2?family=DIN+Condensed:wght@400;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.Container{
    display: flex;
    justify-content:center;
    gap:3px;
}

.div-container1,
.div-container2,
.div-container3,
.div-container4 {
    width: 293px;
    height: 588px;
    background-size: cover;
    background-blend-mode: overlay;
}

.div-container1{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),url('/assets/Image1.png');
    
}
.div-container2{
   
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url('/assets/Image2.png');
    
}
.div-container3{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url('/assets/Image3.png');
    
}
.div-container4{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url('/assets/Image4.png');
    
}
.text-title{
    font-family: 'DIN Condensed', sans-serif;
    margin-top: 28rem;
    margin-left: 2rem;
    width: 233px;
    height: 70px;
    text-transform: uppercase;
    color: white;
    font-size:38px;
    line-height: 38px;
}

.text-desc{
    color: #cbc5c5;
    margin-left: 2rem;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 600px) {
    .Container{
        width: auto;
        max-width: 100%;
        height: auto;
        
    }
    /* Adjust styles for screens smaller than 600px wide (phones) */
    
    .text-title, .text-desc {
        display: none;
    }
    .div-container1,
    .div-container2,
    .div-container3,
    .div-container4 {
        
        background-size: cover;
        object-position: center;
        object-fit: cover;
}
}

@media only screen and (max-width: 300px) {
    .div-container1,
    .div-container2,
    .div-container3,
    .div-container4 {
        background-position: center;
        object-position: center;
        object-fit: cover;
}

}
@media only screen and (max-width: 390px) {
    .div-container1,
    .div-container2,
    .div-container3,
    .div-container4 {
        background-position: center;
        object-position: center;
        object-fit: cover;
}

}
@media only screen and (max-width: 414px) {
    .div-container1,
    .div-container2,
    .div-container3,
    .div-container4 {
        background-position: center;
        object-position: center;
        object-fit: cover;
}

}

